.header_outer_container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20,20,20);
    /* background-color: transparent; */
    height: 10vh;
    /* view hight */
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
    background-color: red;

}
.nav_black{
    background-color: rgb(20,20,20);
}
.header_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header_left ul{
    width: 190%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
}
.header_right{
    position: absolute;
    right: 0;
    /* top: 0; */
}
.header_right ul{
    width: 120%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    float: right;
}
